html{
    height: 100%;
}
body{
    background-color: #393E46;
    height: 100%;
    margin: 0px;
}
.title{
    color: white;
    margin: 0px;
}
p{
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-grow: 5;
    height: 47%;
}
.tools{

    flex-grow: 1;
    height: 45%;
}

h3 {
    margin: 10px;
    text-align: center;
    font-size: 200%;
}
h2 {
    margin: 10px;
    text-align: center;
    font-size: 100%;
    color: red;
}
.displayWindow{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.lower{
    display: flex;
    height: 90%;
}
.upper {
    height: 10%;
}

.tools h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
    margin: 0;
}

.tools h2{
    color: white;
    text-align: left;
    margin: 0, 3px;
    text-decoration: underline;
}
.tools p{
    margin: 4px;
}